*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Arial, Helvetica, sans-serif;
}

.column{
    float: left;
    padding:10px;

}

.column.sidebar
{
    width: 25%;
    
}

.column.middle{

    width: 50%;
}

footer{
    background-color: rgb(3, 109, 95);
    padding: 10px;
    text-align: center;
    left: 0px;
    bottom: 0px;
    width: 100%;
    color: rgb(226, 203, 187);
}


.heder{
    background-color: rgb(3, 109, 95);
    padding:20px;
    text-align: center;
    margin-bottom: 20px;
    color:rgb(226, 203, 187);


}


.navigation {
    background-color: rgb(110, 197, 231);
    overflow: hidden;
}

.navigation a{
    color: whitesmoke;
    text-decoration: none;
    padding: 14px 16px ;
    float:left;
}



.navigation a:hover{

    background-color: cadetblue;
}


header{

background-color: rgb(3, 109, 95);
color: whitesmoke;
padding: 15px;
border-top-left-radius: 20px;
border-top-right-radius: 20px;

}

input{

    width: 100%;
    height: 30px;
    font-size: 15px;
    text-indent: 16px;
    margin-top:10px;

}

ul{
list-style-type: none;
}

 li{
    font-size: 16px;
padding: 5px 15px;
color: grey;
line-height: 40px;
border-bottom: 3px;
}

.ready{
    text-decoration: line-through;
}

.ready button.complete
{
background-color: green;
}


#bottom{

    background-color:rgb(3, 109, 95);
    height: 50px;
    border-bottom-right-radius:20px ;
    border-bottom-left-radius:20px ;
}


/* Style buttons */


button{
width: 30px;
height: 30px;
cursor: pointer;


}

.buttons{
float:right;
}

.buttons button{
    float: right;
    border: none;
    }


.remove{
    background-image: url("public/img/delete.png");
    background-size: contain;
    margin-left: 5px;
    border-radius: 15px;
}

.complete{
    background-image: url("public/img/complete.png");
    background-size: contain;
    border-radius: 15px;
}


/*For difren devices*/

@media screen and (max-width:600px){
    .column.sidebar , .column.middle {

        width:100%;
    }

}
@media screen and (min-width:600px){
   .footer{
    position: fixed;
   }

}